@use "../abstracts" as *;
@use "sass:math";

body {
  font-family: sans-serif;
}

h1,
h2,
h3 {
  text-wrap: pretty;
  font-family: $font-family-primary;
}

h1 {
  @include heading-1;
}

h2 {
  @include heading-2;
}

h3 {
  @include heading-3;
}

p {
  @include paragraph;
}

a {
  text-decoration: none;
  font-family: inherit;
}
