@use "@styles/abstracts" as *;
@use "sass:math";

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: $color-white;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 5rem;
  height: 100%;
  z-index: 1000;
  box-shadow: $box-shadow-s;

  &__avatar {
    width: 100%;
    height: 3rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    & image {
      width: 100%;
      height: 100%;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
    &__item {
      position: relative;
      margin-bottom: 1.5rem;
      cursor: pointer;

      & img {
        transition: all 0.3s;
        &:hover {
          transform: translateY(-0.1rem);
        }
      }
    }
  }

  &__sub-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    box-shadow: $box-shadow-sm;
    padding: 1.5rem;
    margin: 0;
    gap: 2rem;
    border-radius: rem-calc(25);
    position: absolute;
    top: -150%;
    left: 5rem;
    opacity: 0;
    scale: 0 1;
    transform: translateY(50%);
    overflow: hidden;
    z-index: 1;
    transition: all 0.3s ease-in-out;

    & a {
      display: block;
      width: 100%;
    }

    & img {
      min-width: 2rem;
      min-height: 2rem;
    }

    &--show {
      opacity: 1;
      left: 5rem;
      scale: 1 1;
    }
  }
}
