@use "@styles/abstracts" as *;
@use "sass:math";

.comment-form {
  width: max-content;
  margin: 2rem auto;
  padding: $gutter-l;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  background-color: $background-tertiary;
  border-radius: $border-radius-lg;
  border: $border-sm-white;
  h4 {
    border-bottom: $border-sm-white;
    width: 100%;
    text-align: center;
    padding-bottom: $gutter-s;
  }

  &__input {
    width: 100%;
    padding: $gutter-s;
    border: none;
    outline: none;
    background-color: $background-secondary;
    color: $color-white;
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}
